body { font-family: 'Times New Roman', Times, serif, sans-serif; background-color: #000000; }
.login-container { width: 300px; padding: 20px; background-color: #ffffff; border-radius: 5px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); margin: 100px auto; }
.form-control { margin-bottom: 10px; }
.form-control label { display: block; margin-bottom: 5px; }
.form-control input { width: 100%; padding: 10px; border: 1px solid #dddddd; border-radius: 5px; box-sizing: border-box; }
button { width: 100%; padding: 10px; background-color: #ff0000; color: #ffffff; border: none; border-radius: 5px; cursor: pointer; }
button:hover { background-color: #ff00aa; }
